* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 750px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.container a {
  margin-top: 200px;
  margin-left: 20px;
  font-size: 38px;
  text-decoration: none;
  padding: 40px;
  background-color: aqua;
  color: white;
  cursor: pointer;
}
.container a:hover {
  background-color: aquamarine;
  transform: scale(1.2);
}
